%dl
  %dt 
    %label Artist
  %dd= f.text_field :artist
  
  %dt
    %label Title
  %dd= f.text_field :title
  
  %dt
    %label BPM
  %dd= f.text_field :bpm
  
  %dt
    %label Key
  %dd= f.text_field :key
  
  %dt
    %label Major
  %dd= f.text_field :major